/******************* 
*** BASIC NORMALIZE 
*******************/
* {
    margin: 0;
    padding: 0;
}

/******************* 
*** ROOT
*******************/
:root {
    /* color */
    --main-color: #89c5cc;
    --content-color: #7d7987;
    --secondary-color: #69b99d;

    /* size */
    --content-font-size: 14px;

    /* weight */
    --normal-content-font-weight: 400;
    --bold-content-font-weight: 700;

    /* font */
    --title-family-font: "Mulish", serif;
    --content-family-font: "Open Sans", serif;
    --logo-family-font: "Inter", serif;
}

/******************* 
*** HTML & BODY
*******************/
html, 
#body {
    max-width: 100%;
}
#body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/******************* 
*** HEADER
*******************/
#header {
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
#header-logo {
    font-size: 16px;
    font-weight: var(--bold-content-font-weight);
    font-family: var(--logo-family-font);
    text-decoration-line: none;
    color: var(--main-color);
}
#header-menuBtn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
}
#header-menuIcons-close {
    display: none;
}
#header-menuIcons-open.show {
    display: none;
}
#header-menuIcons-close.show {
    display: block;
}
#nav {
    display: none;
}
#nav.show {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: end;
    margin-top: 20px;
}
#nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-links {
    color: var(--content-color);
    font-size: var(--content-font-size);
    font-weight: var(--normal-content-font-weight);
    font-family: var(--title-family-font);
    text-decoration-line: none;
}
.nav-links:hover {
    color: #000;
    font-weight: var(--bold-content-font-weight);
}

/******************* 
*** MAIN
*******************/
#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}
#main-heroImg {
    width: 70%;
}
#main-bannerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#main-bannerSection-title {
    font-size: 28px;
    font-weight: var(--normal-content-font-weight);
    font-family: var(--title-family-font);
}
#main-bannerSection-blueBold {
    color: var(--main-color);
}
#main-bannerSection-paragraph {
    color: var(--content-color);
    font-size: var(--content-font-size);
    font-weight: var(--normal-content-font-weight);
    font-family: var(--content-family-font);
}
#main-bannerSection-link {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    width: fit-content;
    border-radius: 4px;
    text-decoration-line: none;
}
#main-bannerSection-text {
    color: #fff;
    font-size: var(--content-font-size);
    font-weight: var(--normal-content-font-weight);
    font-family: var(--content-family-font);
}

/******************* 
*** FOOTER
*******************/
#footer { 
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
#footer-text {
    font-size: var(--content-font-size);
    font-weight: var(--normal-content-font-weight);
    font-family: var(--content-family-font);
}